.footer {
    @include flex-row();
    @include font-size(10px);
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    color: darken($color-btn-text, 10%);
    background: darken($color-secondary, 20%);
    border-top: 1px solid $color-highlight;
    // padding-bottom: 3em;
    
    a {
        color: darken($color-main, 10%);
    }
    
    .social-icon {
        @include flex-row;
        
        a {
            padding: .5em;
            margin: 0 .5em;
            font-size: 1.5em;
        }
    }

    @media ( max-width: 940px) {
        @include flex-column();
        letter-spacing: 2px;

        p {
            margin: 0.3em;
        }
    }
}
