@keyframes slidein {
    0% {
      border-left: 0px solid $color-highlight;
    }
    50% {
        border-left: 10px solid $color-highlight;
    }
    100% {
      border-left: 5px solid $color-highlight;
    }
  }

header {
    width: 25%;
    min-width: 250px;
    @include flex-column();
    justify-content: flex-start;
    background: $color-secondary;
    position: fixed;
    height: 100vh;
    border-right: #000 2px solid;
    display: none;
}

// .profile-photo {
//     margin: 100px auto 50px;

//     img {
//         width: 150px;
//         border-radius: 50%;
//         border: 2px solid $color-main;

//         &:hover {
//             border: 5px solid $color-highlight;
//             scale: 1.1;
//             transition: 0.1s;
//         }
//     }
// }

nav {
    @include flex-row();
    width: 100%;
    align-items: center;
}

.menu {
    @include flex-row;
    padding: 0;
    width: 100%;
    justify-content: center;
    margin: 1em 0;
    
    &-icon {
        @include flex-column();
        align-items: center;
        
        .horizontal {
            padding: 10px;
            margin: 0.5em;
            display: none;
            
            &:hover {
                transition: 0.5s;
                transform: scale(1.5);
            }
        }
        
        .navigation-wrap {
            overflow: hidden;
            @include flex-column;
            align-items: stretch;
            position: relative;
        }
    }
    
    .navigation {
        @include flex-column;
        padding: 0;
        justify-content: flex-start;
        
        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 200px;
            height: 3em;
            
            a {
                padding: 0.5em;
                color: $color-main;
                font-weight: bold;
                font-size: 1em;
                letter-spacing: 2px;
                text-shadow: 3px 3px 1px #000;

                &:hover {
                    color: $color-highlight;
                    text-shadow: 2px 2px 0px #000;
                    font-size: 1.3em;
                    animation-name: slidein;
                    animation-duration: 0.2s;
                    border-left: 5px solid $color-highlight;
                  }
            }
        }
    }

    // @media (max-width: 420px) {
    //     .menu-icon {
    //         i {
    //             display: block;
    //         }
    //     }

    //     .navigation {
    //     @include flex-column;
    //     display: none;
    //     }

    //     .scrolling-line {
    //         display: none;
    //     }
    // }
}
