main {
    margin-top: 0;
    width: 100%;
    background-color: $color-secondary;
    color: $color-main;
    padding-bottom: 50px;
}

main section {
    padding: 5% 15%;

    h1 {
        @include font-size($font-size-m * 2, normal, 5px);
    }    
    
    h2 {
        @include font-size($font-size-m * 1.75, normal, 3px);
    }    
    
    h3 {
        @include font-size($font-size-m * 1.5, normal, 2px);
        color: $color-highlight;
    }    
    
    h4 {
        @include font-size($font-size-m * 1.25, normal, 2px, uppercase);
        text-align: center;
        margin-top: 0;
    }

    p {
        @include font-size($font-size-m, 1.7em);
        text-align: justify;
        margin: 2em 0 1em 0;
    }
}

.btn {
    display: block;
    width: 100%;
    margin-top: 5em;
    
    a,
    .submit {
        @include section-btn();
        
        &:hover {
            @include btn-hover();
        }
    }

    @media (max-width: 720px) {
        margin-bottom: 50px;
    }
}



// *****
//
// PREFACE SECTION
//
// *****

.preface {
    @include flex-row;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 0;
    padding: 5%;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 101vh;
        overflow: hidden;
        border-bottom: 1px solid #fca311;

        img {
            width: 100%;
            min-height: 100vh;
            opacity: 0.3;
        }
    }

    .profile-photo {
        padding: 50px;
        margin-top: 50px;
        z-index: 100;
    
        img {
            width: 200px;
            border-radius: 50%;
            border: 5px solid $color-main;
    
            &:hover {
                border: 5px solid $color-highlight;
                scale: 1.03;
                transition: 0.1s;
            }
        }
    }
    
    &-info {
        @include flex-column;
        width: 100%;
        z-index: 100;
        
        .name {
            font-size: 48px;
            color: $color-highlight;
        }
        
        .position {
            font-size: 36px;
        }
    } 

    @media (max-width: 992px) {

        .preface-info {
            .name {
                font-size: 36px;
            }

            .position {
                font-size: 30px;
            }
        }
        text-align: center;
    }

    @media (max-width: 768px) {

        @include flex-column;

        .profile-photo {
            margin: 100px;

            img {
                width: 175px;
            }
        } 
    }

    @media (max-width: 576px) {

        .profile-photo img {
            width: 150px;
        }
        .preface-info {

            .name {
                font-size: 28px;
            }

            .position {
                font-size: 24px;
            }
        }
    }
}



// *****
//
// PROFILE SECTION
//
// *****

.profile {
    @include flex-column();
    justify-content: center;

    h2 {
        margin-top: 0;
        margin-bottom: 50px;
    }    
    
    &-row {
        @include flex-row();
        p {
            margin: 0;
        }
    }
    
    img {
        @include font-size(12px, 4px);
        width: 15em; 
        height: auto;
        border-radius: 50%;
        border: $color-btn-text 5px solid;
    }    
    
    &-left {
        flex: 3;
    
        h3 {
            text-align: center;
        }
    }    
    
    &-wrap {
        @include flex-column();
        align-items: flex-end;
        flex: 2;
        padding-left: 50px;
    } 
    
    &-right {
        width: 100%;
        @include flex-column();
        align-items: flex-end;
        margin: 2em 0 1em 0;
        line-height: 1.5em;
        text-align: justify;
        letter-spacing: 1px;
    }

    .aside-contact {
        @include flex-column;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;

        p {
            @include font-size($font-size-m, 1.7em);
            margin: 0;
        }
    
        a:hover {
            color: darken($color-highlight, 0%);
            font-weight: bold;
            transition: 0.3s;
        }
    
        .social-icon {
            @include flex-row;
            width: 100%;
            justify-content: space-evenly;
            
            a {
                @include flex-column;
                justify-content: center;
                font-size: 1.5em;
                width: 21%;
                margin: 2%;
                padding: 10px;
                border-radius: 50%;
    
                &:hover {
                    scale: 1.5;
                    transform: rotate(360deg);
                    transition: 0.3s;
                }
            }
        }
    
    }

    @media (max-width: 768px) {
        &-row {
            @include flex-column;
        }

        &-wrap {
            align-items: center;
            padding-left: 0;

            h3 {
                padding-top: 3em;
            }
        }

        .aside-contact {
            align-items: center;
        }
    }
}



// *****
//
// ABOUT SECTION
//
// *****

.about {

    &-container {
        @include flex-column();
        align-items: center;
        width: 70%;
        margin: 0 auto;

        article {
            @include flex-row;
            justify-content: space-between;
            
            .about-text {
                width: 100%;
                text-align: justify;
            }
        }
    }    
    
    &-photo{
        @include flex-column;
        justify-content: center;
        position: relative;

        img {
            width: 100%;
            opacity: 0.5;
            border-radius: 0.5em;
        }    
    }

    @media (max-width: 768px) {
        &-container {
            width: 100%;
        }
    }
}

.aside-work {
    @include flex-column;
    align-items: center;
    padding-bottom: 1em;

    .presentation {
        @include flex-row;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        img {
            width: 100%;
            opacity: 0.8;
            border: #fff 5px solid;
            margin: 0;
        }
        
        &-item {
            @include flex-column;
            min-width: 150px;
            width: 30%;
            height: auto;
            margin: 1%;

            &:hover {
                img {
                    opacity: 1;
                    transition: 0.4s;
                }

                span {
                    color: $color-highlight;
                }
            }

            span {
                @include font-size(12px, 1em);
                width: 80%;
                padding: 0;
                text-align: center;
                margin: 0.5em auto;
            }

            p {
                text-align: center;
                font-weight: 800;
                @include font-size(12px, normal);
                margin: 0.5em auto;
            }
        }
        
        .git {
            text-decoration: underline;
            @include font-size($font-size-m, normal);
            text-decoration: underline;
        }
        
        .git:hover {
            color: $color-highlight;
            text-decoration: none;
        }
        
        &-gallery,
        &-family-game,
        &-fiato-rosa {
        
            a {
                overflow: hidden;
                display: flex;
                justify-content: center;
                height: auto;
                border-radius: 5px;
            }
        }

        .tech-family,
        .tech-fiato,
        .tech-gallery {
            display: none;
            top: 100%;
            position: absolute;

            .tech-list {
                @include font-size(0.8em, normal);
                width: 80%;
                padding: 0;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    @media (max-width: 940px) {
    
        @include font-size ($font-size * 0.75, normal, 0.5px);
        padding: 0.5em;

        p {
            margin: 0.5em 0;
        }

        a {
            @include font-size ($font-size * 0.75, normal, 0.5px);
        }

        .social-icon a {
            font-size: 1.3em;
            padding: 0.2em;
        }
    }
}



// *****
//
// CONTACT SECTION
//
// *****

.contact {
    height: auto;
    @include flex-column;
    text-align: center;
    
    &-left {
        text-align: center;
        @include flex-column;
        align-items: center;
        width: 70%;
        margin: 0 auto;

        h3 {
            text-align: center;
            display: inline-block;
        }    

        p {
            @include font-size($font-size-m, 1.7em);
        }
    }    


    @media (max-width: 768px) {

        &-left {
            width: 100%;
        }

        h3 {
            margin: auto;
        }
    }
}



// *****
//
// BACK TO TOP
//
// *****

.back-to-top {
    color: rgb(167, 3, 3);
    position: fixed;
    right: 8%;
    bottom: 10%;
    
    &:hover {
        color: lighten(rgb(186, 1, 1), 50%);
    }

    @media (max-width: 780px) {
        right: 1%;
    }
}