@each $page, $color in $page-colors {
    .#{$page} {
        background: lighten($color, 20%);
        border-top: darken($color, 20%) 2px solid;
        
        h1:not(.name) {
            border-bottom: darken($color, 40%) 1px solid;
        }
    }  
}

main section {
    padding: 5% 5%;

    min-height: 100vh;
    justify-content: center;
    height: auto;
    text-align: center;
    
    h1 {
        @include font-size($font-size-m * 2, 5px, uppercase);
        text-align: center
    }    
    
    h2 {
        @include font-size($font-size-m * 1.75, 3px, uppercase);
    }    
    
    h3 {
        @include font-size($font-size-m * 1.5, 2px, uppercase);
    }    
    
    h4 {
        @include font-size($font-size-m * 1.25, 2px);
        text-align: center;
        margin-top: 0;
    }

    p {
        @include font-size($font-size-m, 1px);
        
        @media (max-width: 780px) {
            text-align: center;
        }
    }
    
    .main-text {
        @include font-size($font-size * 1.1, 3px)
    }
}

.btn {
    display: block;
    width: 100%;
    margin-top: 5em;
    
    a,
    .submit {
        @include section-btn();

        
        &:hover {
            @include btn-hover();
        }
    }

    @media (max-width: 720px) {
        margin-bottom: 50px;
    }
}



// PREFACE SECTION

.preface {

    @include flex-column();
    overflow: hidden;
    text-align: left;

    .row {
        @include flex-row();
    }
    
    &-left {
        @include flex-column;
        justify-content: space-evenly;
        flex: 3;
        padding-right: 10%;
        
        .name {
            text-decoration: underline;
        }

        .main-text {
        @include font-size(20px, 4px);
        letter-spacing: 2px;

        }
    } 
    
    &-right {
        flex: 2;
        overflow: hidden;
        border-radius: 10px;
        text-align: left;

        img {
            width: 100%;
            height: 120%;
            position: center;
            -o-object-fit: cover;
               object-fit: cover;

            &:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }    
    }    

    @media (max-width: 780px) {

        text-align: center;

        .row {
            @include flex-column();
        
            .preface-left {
                padding: 0;
            }

            .preface-right {
                margin: 1em 5em 0;
            }

            img {
                height: 120%;
            }
        }
    }
}

// BG-IMG SECTION

.bg-img {
    position: relative;
    background: url('../images/bg.jpg') 50% 0px no-repeat fixed;
    background-size: contain;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}



// PROFILE SECTION

.profile {
    @include flex-column();

    h3 {
        margin-top: 0;
    }    
    
    &-row {
        @include flex-row();    
    }
    
    img {
        @include font-size(12px, 4px);
        width: 15em; 
        height: auto;
        border-radius: 50%;
        border: $color-btn-text 5px solid;
    }    
}

.profile-left {
    flex: 2;

    h3 {
        text-align: center;
    }
    
    .main-text {
        margin: 2em 0 1em 0;
        line-height: 1.5em;
        text-align: justify;
        letter-spacing: 1px;
    }    
}    

.profile-wrap {
    @include flex-row();
    flex: 2;
}

.profile-middle {
    display: flex;
    margin: auto 5em;
    border-radius: 50%;
    border: $color-btn-bg 1px solid;
}    

.profile-right {
    @include flex-column();
    align-items: flex-start;
    justify-content: space-between;
}


@media (max-width: 1280px) {
    .profile {
        height: auto;

        &-row {
            @include flex-column();

            p {
                margin-top: 0;
            }

            .profile-left {
                flex: 1;
            }
            
            img {
                @include font-size(8px, 4px);
            }

            .profile-right {
                flex: 1;
            }
        }

        .btn {
            text-align: center;
        }
    }
}

@media (max-width: 420px) {

    .profile-wrap {
        @include flex-column();

        .profile-right {
            margin-top: 2em;
        }
        h3 {
            margin: 0.2em 0;
        }
        p {
            margin: 0.2em 0;
        }
    }
}



// ABOUT SECTION

.about {

    &-container {
        @include flex-column();
        align-items: flex-start;

        article {
            @include flex-row;
            justify-content: space-between;
            
            .about-text {
                width: 50%;
                text-align: justify;
            }
        }
        

        @media (max-width: 940px) {
            width: 100%;
            align-items: center;
            
            article {
                @include flex-column;

                .about-text {
                    width: 100%;
                }
            }
        }
    }    
    
    &-photo{
        @include flex-column;
        justify-content: center;
        position: relative;

        img {
            width: 100%;
            opacity: 0.5;
            border-radius: 0.5em;
        }    
    }
}

.aside-contact {
    @include flex-column;
    align-items: flex-start;
    padding: 1em;
    box-shadow: lighten($color-about-bg, 10%) 0px 0px 10px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-left: 50px;

    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    a:hover {
        color: darken($color-about-bg, 20%);
        font-weight: bold;
    }

    .social-icon {
        @include flex-row;
        width: 100%;
        justify-content: space-evenly;
        
        a {
            @include flex-column;
            justify-content: center;
            font-size: 1.5em;
            width: 21%;
            margin: 2%;
            padding: 10px;
            border-radius: 50%;

            &:hover {
                transform: scale(1.2);
                transition: 0.1s;
                transform: rotate(360deg);
                transition: 1s;
            }
        }
    }


    @media (max-width: 940px) {
    
        display: block;
        @include font-size ($font-size * 0.75, 0.5px);
        padding: 0.5em;
        width: 60%;
        margin: auto;
        text-align: center;

        p {
            margin: 0.5em 0
        }

        a {
            @include font-size ($font-size * 0.75, 0.5px);
            padding: .5em;
        }

        .social-icon a {
            font-size: 1.3em;
            padding: 0.2em;
        }
    }
}

.aside-work {
    @include flex-column;
    align-items: center;
    padding-bottom: 1em;

    .presentation {
        @include flex-row;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        img {
            width: 100%;
            opacity: 0.8;
            border: #fff 5px solid;
            margin: 0;
            
            &:hover {
                opacity: 1;
                transition: 0.4s;
            }
        }
        
        &-item {
            @include flex-column;
            min-width: 150px;
            width: 30%;
            height: auto;
            margin: 10px;

            
            p {
                text-align: center;
                font-weight: 800;
                @include font-size(16px, 0.5px)
            }
            
        }
        
        .git {
            text-decoration: underline;
            @include font-size(12px, 0.5px);
            text-decoration: underline;
        }
        
        .git:hover {
            color: #323232;
            text-decoration: none;
        }
        
        &-gallery,
        &-family-game,
        &-fiato-rosa {
            
            &:hover {
                transform: scale(1.1);
                transition: 1s;
                box-shadow:lighten(#323232, 40%) 0px 0px 30px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
}
        
            a {
                overflow: hidden;
                display: flex;
                justify-content: center;
                height: auto;
                border-radius: 5px;
            }

        }

        .tech-family,
        .tech-fiato,
        .tech-gallery {
            display: none;
            top: 100%;
            position: absolute;

            .tech-list {
                font-size: 0.8em;
                width: 80%;
                padding: 0;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    @media (max-width: 940px) {
    
        @include font-size ($font-size * 0.75, 0.5px);
        padding: 0.5em;

        p {
            margin: 0.5em 0;
        }

        a {
            @include font-size ($font-size * 0.75, 0.5px);
        }

        .social-icon a {
            font-size: 1.3em;
            padding: 0.2em;
        }
    }
}



// MORE SECTION 

@each $item, $icon in $more-icons {
    ##{$item}::before {
        content: $icon;
        font-size: 3em;
        background: lighten($color-more-bg, 20%);
        padding: 0.5em;
        border-radius: 15px;
        box-shadow: lighten($color-more-bg, 10%) 0px 0px 10px;


        @media (max-width: 780px) {
            font-size: 2em;
            margin-top: 0;
        }


        @media (max-width: 560px) {
            font-size: 1.5em;
        }
    }
} 

.more {
    @include flex-column();
    
    .curiculum {
        width: 100%;
    }
    
    .cv {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;
        justify-content: space-between;
        
        li {
            width: 15%;
            text-align: center;
            margin: 2% 6%;
            line-height: 3em;

            &:hover {
                transform: scale(1.15);
                transition: 0.5s;

                p {
                    font-weight: bold;
                }
            }
            
            a {
                color: #323232;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }


            @media (max-width: 560px ){
                p {
                    margin-top: 0;
                }
            }
            

            @media (max-width: 440px) {
                width: 22%;
                margin: 2% 5%;
            }
        }    
    }
    .cv-pdf a,
    .git-link a {
        text-decoration: underline;

        &:hover {
            color: #323232;
            font-weight: 800;
        }
    }
}



// CONTACT SECTION

.contact {
    height: auto;
    padding: 5em 0 8em;
    
    &-left {
        text-align: center;
        margin: 0 auto;
        width: 50%;

        h3 {
            margin: 3em auto;
            text-align: center;
            display: inline-block;
            border-bottom: darken($color-contact-bg, 20%) 1px solid;
        }    

        p {
            @include font-size(16px, 2px);
            line-height: 1.5em;
        }
    }    


    @media (max-width: 780px) {
        @include flex-column();
        text-align: center;

        h3 {
            margin: auto;
        }
    }
}


// BACK TO TOP

.back-to-top {
    color: rgb(167, 3, 3);
    position: fixed;
    right: 8%;
    bottom: 10%;
    
    &:hover {
        color: lighten(rgb(186, 1, 1), 50%);
    }


    @media (max-width: 780px) {
        right: 1%;
    }
}


// OVERLAY

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darken($color-preface-bg, 50%);
    opacity: 0.95;
    z-index: 20;
    margin: 0 auto;
    
    header {
        display: none;
    }
    
    .more-item {
        width: 93%;
        margin: 0 auto;
        padding: 1em 5em;
        background-color: lighten($color-more-bg, 20%);
        border: #fff 20px solid;
        border-radius: 10px;
        
        overflow-y: scroll;
        height: 90%;


        @media (max-width: 720px) {
            padding: 1em;
        }
    }
}

#close-icon {
    position: fixed;
    top: 25px;
    right: 5%;
    width: 30px;
    height: 30px;
    z-index: 100;
    margin-top: 25px;
    background: #323232;
    color: #323232;
    border: #fff 3px solid;
    border-radius: 5px;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
   
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ddd;
        opacity: 0.7;
        margin: auto;
        height: 100%;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}

@each $page, $color in $page-colors {
    .#{$page} {
        background: lighten($color, 20%);
        border-top: darken($color, 20%) 2px solid;
        
        h1:not(.name) {
            border-bottom: darken($color, 40%) 1px solid;
        }
    }  
}

main section {
    padding: 5% 5%;

    min-height: 100vh;
    justify-content: center;
    height: auto;
    text-align: center;
    
    h1 {
        @include font-size($font-size-m * 2, 5px, uppercase);
        text-align: center
    }    
    
    h2 {
        @include font-size($font-size-m * 1.75, 3px, uppercase);
    }    
    
    h3 {
        @include font-size($font-size-m * 1.5, 2px, uppercase);
    }    
    
    h4 {
        @include font-size($font-size-m * 1.25, 2px);
        text-align: center;
        margin-top: 0;
    }

    p {
        @include font-size($font-size-m, 1px);
        
        @media (max-width: 780px) {
            text-align: center;
        }
    }
    
    .main-text {
        @include font-size($font-size * 1.1, 3px)
    }
}

.btn {
    display: block;
    width: 100%;
    margin-top: 5em;
    
    a,
    .submit {
        @include section-btn();

        
        &:hover {
            @include btn-hover();
        }
    }

    @media (max-width: 720px) {
        margin-bottom: 50px;
    }
}



// PREFACE SECTION

.preface {

    @include flex-column();
    overflow: hidden;
    text-align: left;

    .row {
        @include flex-row();
    }
    
    &-left {
        @include flex-column;
        justify-content: space-evenly;
        flex: 3;
        padding-right: 10%;
        
        .name {
            text-decoration: underline;
        }

        .main-text {
        @include font-size(20px, 4px);
        letter-spacing: 2px;

        }
    } 
    
    &-right {
        flex: 2;
        overflow: hidden;
        border-radius: 10px;
        text-align: left;

        img {
            width: 100%;
            height: 120%;
            position: center;
            -o-object-fit: cover;
               object-fit: cover;

            &:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }    
    }    

    @media (max-width: 780px) {

        text-align: center;

        .row {
            @include flex-column();
        
            .preface-left {
                padding: 0;
            }

            .preface-right {
                margin: 1em 5em 0;
            }

            img {
                height: 120%;
            }
        }
    }
}

// BG-IMG SECTION

.bg-img {
    position: relative;
    background: url('../images/bg.jpg') 50% 0px no-repeat fixed;
    background-size: contain;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}



// PROFILE SECTION

.profile {
    @include flex-column();

    h3 {
        margin-top: 0;
    }    
    
    &-row {
        @include flex-row();    
    }
    
    img {
        @include font-size(12px, 4px);
        width: 15em; 
        height: auto;
        border-radius: 50%;
        border: $color-btn-text 5px solid;
    }    
}

.profile-left {
    flex: 2;

    h3 {
        text-align: center;
    }
    
    .main-text {
        margin: 2em 0 1em 0;
        line-height: 1.5em;
        text-align: justify;
        letter-spacing: 1px;
    }    
}    

.profile-wrap {
    @include flex-row();
    flex: 2;
}

.profile-middle {
    display: flex;
    margin: auto 5em;
    border-radius: 50%;
    border: $color-btn-bg 1px solid;
}    

.profile-right {
    @include flex-column();
    align-items: flex-start;
    justify-content: space-between;
}


@media (max-width: 1280px) {
    .profile {
        height: auto;

        &-row {
            @include flex-column();

            p {
                margin-top: 0;
            }

            .profile-left {
                flex: 1;
            }
            
            img {
                @include font-size(8px, 4px);
            }

            .profile-right {
                flex: 1;
            }
        }

        .btn {
            text-align: center;
        }
    }
}

@media (max-width: 420px) {

    .profile-wrap {
        @include flex-column();

        .profile-right {
            margin-top: 2em;
        }
        h3 {
            margin: 0.2em 0;
        }
        p {
            margin: 0.2em 0;
        }
    }
}



// ABOUT SECTION

.about {

    &-container {
        @include flex-column();
        align-items: flex-start;

        article {
            @include flex-row;
            justify-content: space-between;
            
            .about-text {
                width: 50%;
                text-align: justify;
            }
        }
        

        @media (max-width: 940px) {
            width: 100%;
            align-items: center;
            
            article {
                @include flex-column;

                .about-text {
                    width: 100%;
                }
            }
        }
    }    
    
    &-photo{
        @include flex-column;
        justify-content: center;
        position: relative;

        img {
            width: 100%;
            opacity: 0.5;
            border-radius: 0.5em;
        }    
    }
}

.aside-contact {
    @include flex-column;
    align-items: flex-start;
    padding: 1em;
    box-shadow: lighten($color-about-bg, 10%) 0px 0px 10px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-left: 50px;

    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    a:hover {
        color: darken($color-about-bg, 20%);
        font-weight: bold;
    }

    .social-icon {
        @include flex-row;
        width: 100%;
        justify-content: space-evenly;
        
        a {
            @include flex-column;
            justify-content: center;
            font-size: 1.5em;
            width: 21%;
            margin: 2%;
            padding: 10px;
            border-radius: 50%;

            &:hover {
                transform: scale(1.2);
                transition: 0.1s;
                transform: rotate(360deg);
                transition: 1s;
            }
        }
    }


    @media (max-width: 940px) {
    
        display: block;
        @include font-size ($font-size * 0.75, 0.5px);
        padding: 0.5em;
        width: 60%;
        margin: auto;
        text-align: center;

        p {
            margin: 0.5em 0
        }

        a {
            @include font-size ($font-size * 0.75, 0.5px);
            padding: .5em;
        }

        .social-icon a {
            font-size: 1.3em;
            padding: 0.2em;
        }
    }
}

.aside-work {
    @include flex-column;
    align-items: center;
    padding-bottom: 1em;

    .presentation {
        @include flex-row;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        img {
            width: 100%;
            opacity: 0.8;
            border: #fff 5px solid;
            margin: 0;
            
            &:hover {
                opacity: 1;
                transition: 0.4s;
            }
        }
        
        &-item {
            @include flex-column;
            min-width: 150px;
            width: 30%;
            height: auto;
            margin: 10px;

            
            p {
                text-align: center;
                font-weight: 800;
                @include font-size(16px, 0.5px)
            }
            
        }
        
        .git {
            text-decoration: underline;
            @include font-size(12px, 0.5px);
            text-decoration: underline;
        }
        
        .git:hover {
            color: #323232;
            text-decoration: none;
        }
        
        &-gallery,
        &-family-game,
        &-fiato-rosa {
            
            &:hover {
                transform: scale(1.1);
                transition: 1s;
                box-shadow:lighten(#323232, 40%) 0px 0px 30px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
}
        
        a {
            overflow: hidden;
            display: flex;
            justify-content: center;
            height: auto;
            border-radius: 5px;
        }
    }
}

    @media (max-width: 940px) {
    
        @include font-size ($font-size * 0.75, 0.5px);
        padding: 0.5em;

        p {
            margin: 0.5em 0;
        }

        a {
            @include font-size ($font-size * 0.75, 0.5px);
        }

        .social-icon a {
            font-size: 1.3em;
            padding: 0.2em;
        }
    }
}



// MORE SECTION 

@each $item, $icon in $more-icons {
    ##{$item}::before {
        content: $icon;
        font-size: 3em;
        background: lighten($color-more-bg, 20%);
        padding: 0.5em;
        border-radius: 15px;
        box-shadow: lighten($color-more-bg, 10%) 0px 0px 10px;


        @media (max-width: 780px) {
            font-size: 2em;
            margin-top: 0;
        }


        @media (max-width: 560px) {
            font-size: 1.5em;
        }
    }
} 

.more {
    @include flex-column();
    
    .curiculum {
        width: 100%;
    }
    
    .cv {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;
        justify-content: space-between;
        
        li {
            width: 15%;
            text-align: center;
            margin: 2% 6%;
            line-height: 3em;

            &:hover {
                transform: scale(1.15);
                transition: 0.5s;

                p {
                    font-weight: bold;
                }
            }
            
            a {
                color: #323232;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }


            @media (max-width: 560px ){
                p {
                    margin-top: 0;
                }
            }
            

            @media (max-width: 440px) {
                width: 22%;
                margin: 2% 5%;
            }
        }    
    }
    .cv-pdf a,
    .git-link a {
        text-decoration: underline;

        &:hover {
            color: #323232;
            font-weight: 800;
        }
    }
}



// CONTACT SECTION

.contact {
    height: auto;
    padding: 5em 0 8em;
    
    &-left {
        text-align: center;
        margin: 0 auto;
        width: 50%;

        h3 {
            margin: 3em auto;
            text-align: center;
            display: inline-block;
            border-bottom: darken($color-contact-bg, 20%) 1px solid;
        }    

        p {
            @include font-size(16px, 2px);
            line-height: 1.5em;
        }
    }    


    @media (max-width: 780px) {
        @include flex-column();
        text-align: center;

        h3 {
            margin: auto;
        }
    }
}


// BACK TO TOP

.back-to-top {
    color: rgb(167, 3, 3);
    position: fixed;
    right: 8%;
    bottom: 10%;
    
    &:hover {
        color: lighten(rgb(186, 1, 1), 50%);
    }


    @media (max-width: 780px) {
        right: 1%;
    }
}


// OVERLAY

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darken($color-preface-bg, 50%);
    opacity: 0.95;
    z-index: 20;
    margin: 0 auto;
    
    header {
        display: none;
    }
    
    .more-item {
        width: 93%;
        margin: 0 auto;
        padding: 1em 5em;
        background-color: lighten($color-more-bg, 20%);
        border: #fff 20px solid;
        border-radius: 10px;
        
        overflow-y: scroll;
        height: 90%;


        @media (max-width: 720px) {
            padding: 1em;
        }
    }
}

#close-icon {
    position: fixed;
    top: 25px;
    right: 5%;
    width: 30px;
    height: 30px;
    z-index: 100;
    margin-top: 25px;
    background: #323232;
    color: #323232;
    border: #fff 3px solid;
    border-radius: 5px;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
   
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ddd;
        opacity: 0.7;
        margin: auto;
        height: 100%;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}
