$color_text: #323233;
$color_secondary: #ccc;
$color_bg_main: #fff;

$transition_hover: 0.2s;

$li_bg_hover: (
    'prokop':       #03071e,
    'fiato-rosa':   #def5ff,
    'family-quiz':  #eee
);

$a_hover: (
    'prokop':       #fca311,
    'fiato-rosa':   #0068af,
    'family-quiz':  #000
)
