header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(222, 245, 255) 0%, rgb(255, 255, 255) 51%, rgb(222, 245, 255) 100%);
  background: #def5ff;
  padding: 1% 5%;
  border-bottom: 3px solid rgb(124, 202, 255);
}
header .title {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
}
header .title h1 {
  margin: 0;
  letter-spacing: 10px;
}
header .title h1 a {
  color: rgb(255, 223, 228);
  text-shadow: 2px 2px 0 #984a4a;
}

.date {
  font-size: 0.75em;
}

.navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.85em;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.navbar li {
  list-style: none;
  display: flex;
  flex: 1;
  text-align: center;
  min-width: 150px;
}
.navbar li:last-child a {
  border-right: none;
}
.navbar a {
  padding: 5px;
  color: #323232;
  color: #0068af;
  flex: 1;
  border-right: 1px solid #323232;
  border-bottom: 1px solid #def5ff;
}
.navbar a:hover {
  color: rgb(255, 128, 149);
  border-bottom: 1px solid rgb(255, 128, 149);
}

.rose-a {
  padding: 5px;
  color: #323232;
  flex: 1;
  border-right: 1px solid #323232;
}
.rose-a:hover {
  color: rgb(255, 128, 149);
  border-bottom: 1px solid rgb(255, 128, 149);
}

.rose {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.rose:hover {
  border-bottom: none;
}

.rose-menu {
  display: none;
  background: #f8fdff;
  padding: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 100%;
}
.rose-menu a {
  border-right: none;
}

@media (max-width: 770px) {
  .title {
    font-size: 0.85em;
  }
  .title a {
    font-size: 0.5em;
  }
  .navbar li {
    min-width: 90px;
  }
}
body {
  font-family: "Roboto Slab", serif;
  background: linear-gradient(90deg, rgb(222, 245, 255) 0%, rgb(255, 255, 255) 51%, rgb(222, 245, 255) 100%);
  margin: 0;
}
body a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  padding: 5% 5%;
  font-size: 0.9em;
  line-height: 1.5em;
}
main .main-page {
  padding: 0 5%;
  flex: 4;
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section #name {
  margin-bottom: 10px;
}

.result-section {
  text-align: center;
}

.date {
  text-align: center;
  padding: 10px;
}

aside {
  flex: 1;
}
aside h3 {
  margin: 5px 0;
}

.intentions-form input {
  font-size: 1em;
  margin: 10px 0px;
}

#full-mame {
  height: 50px;
}

#search-name {
  display: none;
}

.intentions {
  padding: 5%;
  font-size: 1em;
}
.intentions .int-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.intentions .int-list .result-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #afdfff;
}
.intentions .int-list .result-list a {
  margin: 0;
  padding: 5px 0;
  color: #0068af;
}
.intentions .int-list .result-list a:hover {
  color: rgb(255, 128, 149);
}
.intentions .int-remove {
  display: flex;
  background: rgb(255, 255, 255);
  margin: auto 0;
  font-size: 8px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #0087e2;
}
.intentions-text {
  border-color: rgb(255, 128, 149);
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  color: #ff4d6a;
  background-color: transparent;
  text-align: center;
  padding: 2px;
  border: 1px solid #ff4d6a;
  border-radius: 6px;
  font-size: 1.5em;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.notes {
  font-size: 0.8em;
  font-style: italic;
  color: #0068af;
}

::-moz-selection {
  color: #fff;
  background: rgb(255, 128, 149);
}

::selection {
  color: #fff;
  background: rgb(255, 128, 149);
}

button::-moz-selection {
  background: transparent;
}

button::selection {
  background: transparent;
}

/*
LOGIN
*/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 2em;
}
.login-menu h3 a {
  margin: 0;
  padding: 0.5em 2em;
  color: #0068af;
}
.login-menu h3 a:hover {
  color: rgb(255, 128, 149);
  text-shadow: rgb(124, 202, 255) 1px 1px 0px;
}
.login-menu .reg-choice {
  border-bottom: rgb(255, 128, 149) 1px solid;
}
.login .my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-shadow: rgb(124, 202, 255) 1px 1px 0px;
}
.login .my-form input {
  padding: 5px;
  margin: 5px;
  border: none;
  border: rgb(124, 202, 255) 1px solid;
}
.login .my-form input:hover {
  background: #def5ff;
}
.login .my-form input::placeholder {
  color: #888;
}
.login .my-form #submit {
  padding: 5px 25px;
  cursor: pointer;
  background: rgb(124, 202, 255);
  border-radius: 2px;
}
.login .my-form #submit:hover {
  color: #def5ff;
  background: rgb(255, 128, 149);
  transform: scale(1.1);
  transition: 400ms;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}
.login #login-form {
  display: none;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 28vh 5%;
}
.contact-section {
  padding: 0 5%;
  color: rgb(124, 202, 255);
  letter-spacing: 3px;
}
.contact-name {
  font-size: 2.5em;
  color: rgb(255, 223, 228);
  text-shadow: 2px 2px 0 rgb(152, 74, 74);
}
.contact a {
  color: #0068af;
}

.main-contact {
  border-right: 1px solid rgb(255, 128, 149);
}
.main-contact p:hover a {
  color: rgb(255, 128, 149);
}

.social-icon {
  display: flex;
  flex-direction: column;
}
.social-icon a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  width: 21%;
  padding: 5px;
  border-radius: 50%;
}
.social-icon a:hover {
  color: rgb(255, 128, 149);
  transform: scale(1.2) translate(10%, 0);
  transition: 0.5s;
}
.social-icon a i {
  margin-right: 15px;
  font-size: 1em;
}
.social-icon a:hover i {
  transform: scale(1.5) translate(-50%, 0);
  transition: 0.5s;
}

/* 
MEDIA
*/
@media (max-width: 770px) {
  body {
    font-size: 0.85em;
  }
  body main {
    padding: 5% 0%;
    flex-direction: column;
  }
  .intentions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intentions-form input {
    font-size: 1em;
    margin: 0px 10px;
  }
  .one-intention {
    width: 80%;
  }
}
@media (max-width: 620px) {
  .contact {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }
  .contact-name {
    font-size: 1.5em;
  }
  .main-contact {
    border-right: none;
  }
  .contact-section {
    letter-spacing: 1px;
  }
  .social-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid rgb(255, 128, 149);
  }
  .social-icon a {
    width: auto;
    border-radius: 0px;
  }
  .social-icon a i {
    margin-right: 5px;
  }
}
.main-teens {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  flex: 4;
}
.main-teens section {
  border-bottom: 1px solid rgb(255, 128, 149);
}
.main-teens section:last-child {
  border-bottom: none;
}
.main-teens section li::before {
  content: "... ";
}

.requests {
  list-style-type: lower-alpha;
}

.teens-selection {
  padding: 0 5%;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teens-selection .text {
  text-align: center;
  border-bottom: 1px solid rgb(255, 128, 149);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

#members {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#members .member {
  margin: 2px;
  font-size: 0.8em;
}
#members a {
  color: #0087e2;
}
#members a:hover {
  color: #004a7c;
  font-weight: 800;
}

#my-form select {
  border: 1px solid rgb(255, 128, 149);
  border-radius: 5px;
  height: 2em;
  padding: 0 10px;
}
#my-form option:hover {
  box-shadow: 0 0 10px 100px rgb(255, 128, 149) inset !important;
}

@media (max-width: 770px) {
  .main-members {
    display: flex;
  }
  .teens-selection {
    padding-bottom: 5em;
  }
  .members section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #members .member {
    min-width: 110px;
    padding: 2px 6px;
  }
}
.edit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 20%;
}
.edit-section .old-intention {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(124, 202, 255);
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.edit-section .old-intention #old-intention {
  color: rgb(255, 128, 149);
  font-size: 1.5em;
  margin: 0;
}
.edit-section .new-intention {
  width: 100%;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#edit-form .edit-submit {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-top: 1em;
}
#edit-form .edit-submit input {
  width: 120px;
  margin: 1em 3em;
  padding: 0.5em;
  background: #e2f3ff;
  color: #ff6078;
  border: #0087e2 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#edit-form .edit-submit input:hover {
  background: #ffdfe4;
  color: #0087e2;
  transform: scale(1.1);
  transition: 400ms;
}

@media (max-width: 770px) {
  .edit-submit input {
    font-size: 0.85em;
  }
}
@media (max-width: 620px) {
  #edit-form .edit-submit {
    flex-direction: column;
    align-items: center;
  }
  #edit-form .edit-submit input {
    margin: 1em auto;
  }
}

/*# sourceMappingURL=style.css.map */
