header {
    @include flex-column;
    justify-content: space-between;
    background: $header-bg-gradient;
    background: #def5ff;
    padding:  1% 5%;
    border-bottom: 3px solid $header-border;

    .title {
        font-family: 'Great Vibes', cursive;
        font-size: 48px;

        h1 {
            margin: 0;
            letter-spacing: 10px;

            a{ 
                color: $title-color;
                text-shadow: 2px 2px 0 #984a4a;
            }
        }
    }
}

.date {
    font-size: 0.75em;
}

.navbar-section {
    @include flex-row;
    justify-content: flex-end;
    font-size: 0.85em;
    width: 100%;
}

.navbar{
    @include flex-row;
    padding: 0;
    margin: 0;
    
    & li {
        list-style: none;
        display: flex;
        flex: 1;
        text-align: center;
        min-width: 150px;
        
        &:last-child a {
            border-right: none;
        }
    }
    
    & a {
        padding: 5px;
        color: #323232;
        color: $text-color;
        flex: 1;
        border-right: 1px solid #323232;
        border-bottom: 1px solid $header-bg;
        
        &:hover {
            color: $navbar-hover;
            border-bottom: 1px solid $navbar-hover;
        }
    }
}

.rose-a {
    padding: 5px;
    color: #323232;
    flex: 1;
    border-right: 1px solid #323232;

    &:hover {
        color: $navbar-hover;
        border-bottom: 1px solid $navbar-hover;
    }
}

.rose {
    @include flex-column;
    position: relative;
    z-index: 10;

    &:hover {
        border-bottom: none;
    }
}

.rose-menu {
    display: none;
    background: lighten($header-bg, 5%);
    padding: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 100%;
    
    a {
        border-right: none;
    }
}


@media (max-width: 770px) {

    .title {
        font-size: 0.85em;

        a {
            font-size: 0.5em;
        }
    }

    .navbar li {
        min-width: 90px;
    }
}
