// colors
$header-bg: #def5ff;
$header-bg-gradient: linear-gradient(90deg, rgba(222,245,255,1) 0%, rgba(255,255,255,1) 51%, rgba(222,245,255,1) 100%);
$header-border: rgb(124, 202, 255);
$title-color: rgb(255, 223, 228);
$navbar-hover: rgb(255, 128, 149);
$body-bg: rgb(234, 244, 251);
$color-member: rgb(124, 202, 255);
$text-color: darken($header-border, 40%)
