@keyframes slidein {
    0% {
        border-left: 10px solid $color-secondary;
    }
    100% {
        border-left: 10px solid $color-highlight;
    }
}

@keyframes slideinmini {
    0% {
            border-left: 5px solid $color-secondary;
    }
    100% {
            border-left: 5px solid $color-highlight;
    }
}

header {
    width: 100%;
    @include flex-row;
    background: $color-secondary;
    justify-content: space-between;
    padding: 2% 15%;
    font-size: 14px;
    border-bottom: 1px solid $color-highlight;
    position: fixed;
    z-index: 100;
    height: 100px;
    // display: none;

    @media (max-width: 576px) {
        height: 50px;
        padding: 5%;
        font-size: 12px;
        justify-content: center;
    }
    
    .profile-photo {
        img {
            width: 50px;
            border-radius: 50%;
            border: 2px solid $color-main;
    
            &:hover {
                border: 3px solid $color-highlight;
                scale: 1.1;
                transition: 0.3s;
            }
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    
    nav {
        @include flex-row;
        align-items: center;
        
        .menu {
            @include flex-row;
            padding: 0;
            margin: 0;
        }
            
        li {
            display: flex;
            align-items: center;
            
            a {
                color: $color-main;
                font-weight: bold;
                padding: 0 5px;
                margin-left: 15px;
                text-align: right;
                border-left: 10px solid $color-secondary;
    
                &:hover {
                    color: $color-highlight;
                    animation-name: slidein;
                    animation-duration: 0.3s;
                    border-left: 10px solid $color-highlight;
                    }
            }
        }
    
        // @media (max-width: 768px) {
        //     .menu a {
        //         padding: 0 2px;
        //         margin-left: 5px;
        //         border-left: 5px solid $color-secondary;
    
        //         &:hover {
        //             animation-name: slideinmini;
        //             border-left: 5px solid $color-highlight;
        //         }
        //     }
        // }
    
        @media (max-width: 576px) {
            .menu a {
                padding: 0 3px;
                margin-left: 5px;
                border-left: 5px solid $color-secondary;
    
                &:hover {
                    animation-name: slideinmini;
                    border-left: 5px solid $color-highlight;
                }
            }
        }
    }

    .active {
        color: $color-highlight;
        // border-left: 5px solid $color-highlight;

    }
}


