$font-size: 16px;

@media (max-width: 560px) {
    body{
        $font-size: 12px;
    }
}

$font-size-s: $font-size * 0.75;
$font-size-m: $font-size;
$font-size-l: $font-size * 1.25;


// $color-header: #03071e;
$color-main: #ccc;
$color-secondary: #03071e;
$color-highlight: #fca311;

// darkmode:
// $color-main: #14213d;
// $color-text: #e5e5e5;
// $color-secondary: #03071e;
// $color-highlight: #fca311;

$color-preface-bg:  darken($color-main, 0%);
$color-profile-bg:  darken($color-main, 2%);
$color-about-bg:    darken($color-main, 5%);
$color-more-bg:     darken($color-main, 7%);
// $color-gallery-bg:  darken($color-main, 10%);
$color-contact-bg:  darken($color-main, 5%);

// $color-preface-bg:  lighten(#a4abb8, 15%);
// $color-profile-bg:  lighten(#8fe3fa, 15%);
// $color-about-bg:    lighten(#fa949c, 15%);
// $color-more-bg:     lighten(#b0ff8e, 15%);
// // $color-gallery-bg:  lighten(#fbf893,15%);
// $color-contact-bg:  lighten(#fbf893, 15%);

$color-btn-text: #eee;
$color-btn-bg: #323232;


$page-colors: (
    'preface':  $color-preface-bg,
    'profile':  $color-profile-bg,
    'about':    $color-about-bg,
    'more':     $color-more-bg,
    // 'gallery':  $color-gallery-bg,
    'contact':  $color-contact-bg,
);

// $page-colors: (
//     'preface':  darken($color-preface-bg, 20%),
//     'profile':  darken($color-profile-bg, 20%),
//     'about':    darken($color-about-bg, 20%),
//     'more':     darken($color-more-bg, 20%),
//     'gallery':  darken($color-gallery-bg, 20%),
//     'contact':  darken($color-contact-bg, 20%),
// );

$more-icons: (
    'study':    '\1f393',
    'work':     '\1f4bc',
    'web-dev':  '\2328',
    'skills':   '\1f528',
    'hobby':    '\2615',
    'traits':   '\1f9cd',
);
    